<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>inquiry</name>
    <displayName>Запитвания</displayName>
    <version>1.0.0</version>
    <description>Отделна страница за запитвания. Администраторът може да одобрява и да отговаря.</description>
    <author>Emanuil</author>
    <tab>front_office_features</tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>